<div class="container">
  <div class="section-top">
    <div class="section-img">
      <img src="..\assets/images/building.jpg">

    </div>
    <div class="section-p">
        <u><h1>Lorem ipsum dolor</h1></u>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit
            . Aliquam id, sit ratione doloremque dignissimos fugit tenetur sequi
             porro totam. Sunt corrupti ullam modi qui cum iusto atque! Consectetur, 
             quod temporibus?
        Tempore ratione, eum cumque velit quod, blanditiis voluptatem
         rerum itaque nisi quaerat facilis adipisci inventore explicabo quas, 
         minus alias reiciendis numquam. Laudantium ut tenetur error autem ad id,
          non quia.
        Quisquam quo doloribus, suscipit expedita, explicabo sequi, 
        excepturi veniam totam laboriosam tenetur dolore id assumenda natus alias
         dignissimos laborum deserunt magnam eaque dolorem iure itaque beatae voluptatibus.
          Voluptatibus, fuga assumenda.
        Quam sapiente minus  facere dignissimos a aliquam. Saepe culpa, similique repellat 
        nobis 
        corporis, temporibus, sequi distinctio labore dolore eum possimus?
        Voluptatibus aut illo explicabo dignissimos voluptas, rem nisi nihil, odit perspiciatis 
        voluptatem necessitatibus, veritatis fugit quas commodi obcaecati unde mollitia temporibus 
        reprehenderit asperiores itaque totam accusantium! Harum obcaecati dolorum expedita.
        Repudiandae saepe, enim eveniet eos totam inventore suscipit, modi nulla dolorum sint
         quasi veniam tempore corporis sapiente distinctio molestias exercitationem laboriosam 
         optio aliquam rem. Soluta quia aperiam fuga ut autem.
        Atque, voluptatibus corporis 
    </p>
    </div>
    <div class="section-form">
        <form>
            <input type="text" id="pricecar" placeholder="Please enter the price of the car">

            <select>
                <option>12 Month</option>
                <option>24 Month</option>
                <option>36 Month</option>
              </select>
              <br>
              <button id="sub">submite</button>
        </form>
    </div>
    <div class="result"></div>
</div>
</div>